*.dylib filter=lfs diff=lfs merge=lfs -text
src/tools/dovi_tool filter=lfs diff=lfs merge=lfs -text
src/tools/mkvextract filter=lfs diff=lfs merge=lfs -text
src/tools/mkvmerge filter=lfs diff=lfs merge=lfs -text
